.navbar {
  background-color: #003580;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.topnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.buttons button {
  border-radius: 0;
}
