.header button {
  background-color: #0071c2;
  color: white;
  border: none;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  position: relative;
}

.header-content {
  margin: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
