.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #febb02;
  border-radius: 5px;
  padding: 5px 20px;
  position: relative;
  transform: translateY(50%);
  background-color: white;
}

.search button {
  background-color: #0071c2;
  color: white;
  padding: 10px;
}

/* .search input {
  border: none;
} */
